button{
    background: transparent;
    border: none;
    outline: none;
}
a,button,li,label,div{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img{
    display: block;
}
h2,p,span{
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nolimit{
    overflow: auto;
    white-space: normal;
}
*::-webkit-input-placeholder{
    color: #ccc;
}